/*font*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

@import "reset.css";
@import "header.css";
@import "home.css";
@import "report.css";
@import "footer.css";

body {
  font-family: "Rubik", sans-serif;
}

main {
  padding: 60px 60px;
}
footer {
  padding: 30px 60px;
  box-sizing: border-box;
}
